.blog {
  main {
    margin-top: 3rem;

    .grand_title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1.75rem;
      line-height: 40px;

      @include md {
        line-height: 50px;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
    }

    article {
      @extend .mt-2;

      h3 {
        font-size: 1.25rem;
        font-weight: 600;
      }

      .text {
        a,
        a > * {
          color: var(--theme_two);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .blog_heading {
        p {
          line-height: 30px;
        }
      }

      .image_container {
        position: relative;
        z-index: 999;

        img {
          z-index: 999;
        }

        height: 250px;

        @include sm {
          height: 325px;
        }

        @include md {
          height: 400px;
        }
      }

      .blog_content {
        margin-top: 3rem;

        img {
          @extend .radius-md;
          
          width: 100%;
          height: 260px;
          object-fit: cover;
          margin: 1rem 0;

          @include sm {
            height: 400px;
          }

          @include md {
            height: 430px;
          }
        }

        .blog_info {
          gap: 4.5rem;
          padding-bottom: 2rem;
          border-bottom: 1px solid var(--foreground_three);
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 2rem;

          .info_right {
            * {
              color: var(--foreground_two);
            }

            span {
              @extend .font_one;
              
              min-width: 80px;
              font-size: 14px;
            }

            font-weight: 600;
          }
        }

        .blog_text {
          .button {
            display: flex;
            padding: 0.75rem 1.5rem;

            span {
              // padding-left: 0.75rem;
              font-size: 16px;
            }

            span,
            svg,
            path {
              font-weight: 600;
              font-size: 16px;
            }
          }

          .text {
            margin-bottom: 2rem;
          }

          .blog_text_row {
            display: flex;
            gap: 1rem;
            flex-direction: column-reverse;

            div {
              a {
                width: 100%;
              }
            }

            @include sm {
              flex-direction: row;
              gap: 1.25rem;

              div {
                a {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
