.font_one {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif;
}

.font_two {
  font-family: "Squada One", -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", cursive;
}

html,
body {
  padding: 0;
  margin: 0;

  @extend .font_one;
}

figure {
  margin: 0;

  figcaption {
    position: absolute;
    bottom: -28px;
    color: var(--foreground_two);
    font-size: 0.8rem;
  }
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--foreground);
}

html,
body,
#__next {
  background-color: var(--background);
}

strong {
  font-weight: 600;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.lottie {
  @include md {
    max-width: 275px;
    max-height: 275px;
  }
}

.content {
  @extend .mt-1_2;
}

.group_content {
  p {
    @extend .mb;
  }
}

.tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.2rem;
  font-weight: 600;

  span {
    border-bottom: 1.5px solid var(--theme_two);
    font-size: 17px;
  }

  span,
  svg,
  path {
    color: var(--theme_two);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
  gap: 2rem;
  margin-top: 3rem;

  @include md {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

.image_container {
  position: relative;
  height: 400px;
}

.text_with_icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

code {
  font-family: "Source Code Pro", SFMono-Regular, Consolas, "Liberation Mono",
    Menlo, monospace;
  padding: 0 7px 0 7px;
  border-radius: 4px;
  border: 1px solid var(--background_three);
  background-color: var(--background_two);
  font-size: 0.85rem;
  display: inline-block;
}

pre {
  overflow: auto;
  position: relative;
  border: 1px solid var(--background_three);
  background-color: var(--background_two);
  padding: 1rem;

  @extend .radius-md;

  code {
    border: none;
  }
}

.small_link {
  color: var(--foreground);
}
